html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.controls img {
    width: 30px;
}

.controls .play img,
.controls .pause img {
    width: 40px;
}

.progress {
    height: 5px !important;
}

.media.album-art img {
    max-width: 100px;
}

.media .volume {
    width: 30px;
}

#navbarContainer,
#navbarContainer nav {
    background: #000;
}

.trackListRow:hover {
    background-color: rgba(255,255,255,.075);
}

.trackListRow .media img:first-child {
    cursor: pointer;
    position: absolute;
}

.trackListRow .media img {
    width: 20px;
    visibility: hidden;
}

.trackListRow:hover .media img {
    visibility: visible;
}

.trackListRow:hover .media h5 {
    visibility: hidden;
}

.progress {
    cursor: pointer;
}

.progress-bar {
    transition: none !important;
}

#main-content {
    height: calc(100vh - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}